<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Twittertest">
    <classes>   
      <class name="tests.First"/>
      <class name="tests.Second"/>
      <class name="tests.Twitter"/>
    </classes>
  </test> <!-- Twittertest -->
</suite> <!-- Suite -->
